.homepage-container {
    position: relative;
    max-width: 100%; /* Adjust to fit the web browser width */
    min-height: 400px; /* Adjust the minimum height */
    padding: 305px; /* Decrease padding for a more compact look */
    border: 2px solid #d3c29d;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    color: white;
    overflow: hidden;
}

.homepage-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('/assets/imgs/magical_valley.jpg') no-repeat center center;
    background-size: cover;
    filter: brightness(0.5); /* Adjust brightness for better readability */
    z-index: -1;
}

/* Update to organize text content in a container */
.text-container {
    padding: 20px;
}

