.homepage-container {
    position: relative;
    max-width: 100%;
    min-height: 400px;
    padding: 305px;
    border: 2px solid #d3c29d;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    color: white;
    overflow: hidden;
}

.homepage-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('/assets/imgs/magical_valley.jpg') no-repeat center center;
    background-size: cover;
    filter: brightness(0.5);
    z-index: -1;
}

.text-container {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.card {
    background-color: #f8f9fa;
    color: #000;
}

.card-header {
    background-color: #343a40;
    color: #fff;
}

.dropdown-menu {
    background-color: #f8f9fa;
}