<ng-template #logoutTemplate let-modal="modal" >
  <div class="modal-header">
    <h4 class="modal-title">Confirm Logout</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="crossClick()"></button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to logout, {{ username }}?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="cancelLogout()">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="confirmLogout()">Logout</button>
  </div>
</ng-template>

<ng-template #loginTemplate let-modal>
  <div class="modal-dialog modal-dialog-centered custom-modal">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Login</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="loginWithModal(modal)" #loginForm="ngForm">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="usernameModal" [(ngModel)]="username" name="username" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="passwordModal" [(ngModel)]="password" name="password" class="form-control" required>
            <input type="checkbox" id="togglePasswordModal" (click)="togglePasswordVisibility('passwordModal', 'togglePasswordModal')">
            <label for="togglePasswordModal">Toggle Password Visibility</label>
          </div>
          <div>
            <input type="checkbox" id="rememberMeModal" [(ngModel)]="rememberMe" name="rememberMe">
            <label for="rememberMeModal">Remember Me</label>
          </div>
          <a href="javascript:void(0)" (click)="navigateToForgotPassword()" class="reset-link">Forgot Password?</a>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #welcomeTemplate let-username="username">
  <div class="bg-light-blue">Welcome {{ username }}, let's play!</div>
</ng-template>

<ng-template #errorTemplate let-message="message">
  <div class="toast-body">
    {{ message }}
  </div>
</ng-template>

<ng-template #logoutSuccessTemplate let-username="username" let-message="message">
  <div>Goodbye, {{ username }}! {{ message }}</div>
</ng-template>

<nav className="navbar navbar-expand-lg navbar-dark bg-dark" [class.sticky-top]="isNavbarSticky">
  <a class="navbar-brand" (click)="handleLogoClick()" ngbTooltip="Click to open Navbar Menu, Double click to reset position">
    <img src="favicon.ico" alt="Logo" class="rounded-circle" style="width: 40px; height: 40px;">
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <div class="btn-group12" role="group" aria-label="Home and Login">
        <img src="assets/imgs/icons/Login-smll-page-icon.png" alt="Go to Login" class="go-to-login-icon" (click)="navigateToLoginpage()" ngbTooltip="Click to go to Login">
      <img src="assets/imgs/icons/smllHomepage.png" alt="Go to Home" class="go-to-home-icon" (click)="navigateToHomepage()" ngbTooltip="Click to go to Homepage">
    </div>
  </ul>
  </div>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <div class="btn-group" role="group" aria-label="Login, Register, Super Profile and Logout">
        <img src="assets/imgs/icons/login-modal-icon.png" alt="Login" (click)="openLoginModal(loginTemplate)" ngbTooltip="Click to open Login Modal" class="btn-icon">
        <img src="assets/imgs/icons/register-smll-icon.png" alt="Register" routerLink="/register" ngbTooltip="Click to open Register" class="btn-icon">
        <img src="assets/imgs/icons/super-profile-icon.png" alt="Super Profile" *ngIf="isSuperUser" routerLink="/super-profile" ngbTooltip="Click to open Super Profile" class="btn-icon">
        <img src="assets/imgs/icons/logout-icon.png" alt="Logout" (click)="openLogoutModal(logoutTemplate)" ngbTooltip="Click to open Logout Modal" class="btn-icon">
      </div>
      <div>
        <li class="nav-item d-flex align-items-center">
          <img [src]="isLoggedIn ? 'assets/imgs/icons/green-dot.png' : 'assets/imgs/icons/red-dot.png'" alt="status-icon" style="width: 20px; height: 20px;">
          <span *ngIf="isLoggedIn" class="text-white ml-2">{{ username }} logged in</span>
        </li>
      </div>
    </ul>
  </div>
</nav>

<div *ngIf="isLoading" class="spinner-container">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>


<ng-template #offcanvasContent let-offcanvas="offcanvas">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">NavBar Menu :</h5>
    <button type="button" class="btn-close text-reset" aria-label="Close" (click)="closeOffcanvas()"></button>
  </div>
  <div class="offcanvas-body" id="draggableOffcanvas">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" routerLink="/character-creation">Create Character</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/chat">Chat</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/library">Library</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/profile">Profile</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/change-password">Change Password</a></li>
    </ul>
  </div>
  <div class="offcanvas-footer">
    <div id="navMap" (mousedown)="startDragging($event)">
      <img src="assets/imgs/icons/toggle-offCanvas.png" 
           [class]="'toggle-offcanvas-icon ' + currentOffcanvasPosition"
           alt="Toggle Offcanvas" 
           id="toggleOffcanvas"
           ngbTooltip="Instructions:
           1. Click to toggle offcanvas menu
           2. Click and drag to change position
           3. Release to open in new position"
           tooltipClass="custom-tooltip"
           [openDelay]="300"
           placement="auto"/>
    </div>
  </div>
</ng-template>
<app-toasts-container [errorTemplate]="errorTemplate"></app-toasts-container>
<router-outlet></router-outlet>

<footer class="footer bg-dark text-white text-center py-3">
  <div class="container">
    <span>&copy; 2024 DeMe - pick your story. All rights reserved.</span>
  </div>
</footer>
