<ng-template #logoutTemplate let-username="username">
  <div>Until the next time adventure, {{ username }}</div>
</ng-template>

<nav className="navbar navbar-expand-lg navbar-dark bg-dark">
  <a className="navbar-brand" href="#">
    <img src="favicon.ico" alt="Logo" className="rounded-circle" style="width: 40px; height: 40px;">
  </a>
  <button class="navbar-toggler" type="button" (click)="openOffcanvas()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <div class="btn-group" role="group" aria-label="homepage, Login and Logout">
        <button class="btn btn-primary" routerLink="/homepage">Homepage</button>
        <button class="btn btn-success" routerLink="/login">Login</button>
        <button class="btn btn-warning" (click)="logout()">Logout</button>
      </div>
    </ul>
  </div>
</nav>

<ng-template #offcanvasContent let-offcanvas="offcanvas">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Navbar Titles:</h5>
    <button type="button" class="btn-close text-reset" aria-label="Close" (click)="closeOffcanvas()"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav">
      <li className="nav-item"><a className="nav-link" routerLink="/homepage">Homepage</a></li>
      <li className="nav-item"><a className="nav-link" routerLink="/register">Register</a></li>
      <li className="nav-item"><a className="nav-link" routerLink="/character-creation">Create Character</a></li>
      <li className="nav-item"><a className="nav-link" routerLink="/chat">Chat</a></li>
      <li className="nav-item"><a className="nav-link" routerLink="/about">About</a></li>
      <li className="nav-item"><a className="nav-link" routerLink="/profile">Profile</a></li>
      <li className="nav-item"><a className="nav-link" routerLink="/change-password">Change Password</a></li>
      <li className="nav-item"><a className="nav-link" routerLink="/super-profile">Super Profile</a></li>
      <li className="nav-item"><a className="nav-link" (click)="logout()" style="cursor: pointer;">Logout</a></li>
    </ul>
  </div>
</ng-template>
<app-toasts-container></app-toasts-container>
<router-outlet></router-outlet>