.super-profile-container {
    max-width: 100%;
    min-height: 94vh;
    padding: 50px; /* Adjusted padding */
    background: rgba(110, 0, 96, 0.8) url('/assets/imgs/ornge-lndscpe.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 55px;
    box-shadow: none;
    color: rgb(14, 13, 13);
}

.super-profile-content {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
}

.dropdown-menu {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.dropend-form {
    width: 300px; /* Increased width */
    height: auto; /* Reduced height */
    padding: 20px;
}