.change-password-container {
    max-width: 100%;
    min-height: 93vh;
    padding: 50px; /* Adjusted padding */
    margin: 20px; /* Added margin */
    background: rgba(255, 255, 255, 0.8) url('/assets/imgs/wizard.png') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: none;
    color: rgb(14, 13, 13);
}

.change-password-content {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
}

.form-group {
    margin-bottom: 15px;
}

.btn-primary {
    width: 100%;
    margin-top: 20px;
}