<div class=" chat-container">
  <div class="row">
    <div class="col-md-8">
      <div class="card chat-card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h2 class="mb-0">D&D Adventure Chat</h2>
          <img [src]="profilePictureUrl || 'assets/imgs/icons/GoToProf.png'" 
               (click)="GoToProfile()" 
               class="profile-picture" 
               
               ngbTooltip="Go to Profile" 
               triggers="mouseenter:mouseleave">
        </div>
        <div class="card-body chat-window">
          <div *ngFor="let response of responses"
            [ngClass]="{'user-message': response.from === 'user', 'bot-response': response.from === 'bot'}">
            <p>{{ response.text }}</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="input-area">
            <div class="subcard input-container">
              <span>{{ username }}: </span>
              <div class="editor-wrapper">
                <textarea [(ngModel)]="message" 
                          placeholder="Type your message here" 
                          required
                          (keydown)="onEnter($event)" 
                          class="form-control chat-input" 
                          rows="2">
                </textarea>
                <div class="editor-toolbar" [class.show]="showEditor">
                  <st-editor [(ngModel)]="message" 
                            [Config]="editorConfig"
                            [hideTextArea]="true">
                  </st-editor>
                </div>
              </div>
              <div class="toolbar-controls">
                <button class="btn btn-icon" (click)="toggleEditor()" 
                        ngbTooltip="Toggle formatting options">
                  <i class="fas fa-font"></i>
                </button>
                <div class="custom-select">
                  <button (click)="toggleDropup()" class="btn btn-icon" 
                          ngbTooltip="Select template">
                    <i class="fas fa-clipboard-list"></i>
                  </button>
                  <ul class="options" [class.show]="isDropupOpen">
                    <li (click)="selectOption('template1')">Lets Start a Game</li>
                    <li (click)="selectOption('template2')">Character Prompt</li>
                    <li (click)="selectOption('template3')">Save Last Prompt</li>
                  </ul>
                </div>
                <button class="btn btn-icon" 
                        (click)="showCharacterPromptHover()" 
                        ngbTooltip="View saved character prompt">
                  <i class="fas fa-user-circle"></i>
                </button>
                <button class="btn btn-icon" (click)="clearChatInput()" 
                        ngbTooltip="Clear text">
                  <i class="fas fa-times"></i>
                </button>
                <button class="btn btn-icon send-button" (click)="sendMessage()" 
                        ngbTooltip="Send message">
                  <i class="fas fa-paper-plane"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card dice-card">
        <div class="card-header">
          <h3 class="mb-0">Dice Roller</h3>
        </div>
        <div class="card-body">
          <div class="dice-controls">
            <div class="dice-row" *ngFor="let dice of selectedDice; let i = index">
              <select [(ngModel)]="selectedDice[i]" class="form-control" ngbTooltip="Select the type of dice to roll"
                triggers="mouseenter:mouseleave" tooltipTitle="Select Dice Type">
                <option *ngFor="let diceType of diceTypes" [value]="diceType">{{diceType}}</option>
              </select>
              <input type="number" [(ngModel)]="numDice[i]" min="1" max="10" class="form-control ml-2"
                ngbTooltip="Select the number of dice to roll" triggers="mouseenter:mouseleave"
                tooltipTitle="Select Number of Dice">
              <input type="number" [(ngModel)]="modifiers[i]" placeholder="Modifier" class="form-control ml-2"
                ngbTooltip="Select the modifier to add to the roll" triggers="mouseenter:mouseleave"
                tooltipTitle="Select Modifier">
            </div>
            <div class="add-buttons" style="display: flex; justify-content: space-between;">
              <button (click)="addDiceType()" class="add-btn">Add Dice Type</button>
              <button (click)="resetDiceRoller()" class="reset-btn">Reset Dice Roller</button>
            </div>
            <div class="roll-buttons">
              <button (click)="rollDice()" class="roll-btn">Roll</button>
              <button (click)="clearRollResults()" class="clear-btn">Clear Results</button>
            </div>
          </div>
          <div class="card-footer dice-results" *ngIf="rollResults.length">
            <p>Dice: {{numDice.join(', ')}} {{selectedDice.join(', ')}}</p>
            <p>Results: {{rollResults.join(', ')}} + ({{modifiers.join(' + ')}})</p>
            <p>Total with Modifiers: {{rollTotal}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showStaticHoverCard" class="backdrop" (click)="closeStaticHoverCard()"></div>
  <div *ngIf="showStaticHoverCard" class="static-hover-card prompt-card">
    <button (click)="closeStaticHoverCard()" class="close-btn">&times;</button>
    <h5>{{ selectedEntry?.name }}</h5>
    
    <table class="prompt-table" *ngIf="selectedEntry?.promptData">
      <thead>
        <tr>
          <th>Field</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of selectedEntry.promptData">
          <td>{{ item.field }}</td>
          <td>{{ item.value }}</td>
        </tr>
      </tbody>
    </table>
  </div>