@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.chat-container {
  max-width: 2200px;
  padding: 18px;
  background: rgba(0, 0, 0, 0.8) url('/assets/imgs/the_pinker_canyon.jpg') no-repeat center center;
  background-size: cover;
  border: 2px solid #000000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: rgb(10, 10, 10);
  border-radius: 10px;
  height: 100%;
  animation: fadeInUp 0.5s ease-out;
}

.chat-card, .dice-card {
  height: 730px;
  background-color: rgba(0, 0, 0, 0.842);
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.card-header {
  background-color: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.card-body {
  overflow-y: auto;
}

.chat-window {
  height: 500px;
  overflow-y: scroll;
  padding: 15px;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container span {
  margin-right: 10px;
  color: white;
}

.input-container input {
  flex-grow: 1;
}

.user-message {
  text-align: right;
  color: rgb(176, 176, 252);
}

.bot-response {
  text-align: left;
  color: rgb(255, 255, 255);
}

.input-container select {
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 3px;
  background: none;
  color: white;
}

.input-container select:focus {
  background: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.164);
}

.input-container select option {
  background-color: rgba(0, 0, 0, 0.925);
}

.clear-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: url('/assets/imgs/icons/clear-srch.png') no-repeat center center;
  border: none;
}

.dice-controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

.dice-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  align-items: center;
}

.dice-row select,
.dice-row input,
.dice-controls button {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  font-size: 0.9em;
}

.add-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  margin-top: 10px;
}

.dice-results {
  background: url('/assets/imgs/dices/blnk-blck-dice.png') no-repeat center center;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 20%;
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dice-results h4 {
  margin-top: 0;
  color: #ffd700;
}

.dice-results p {
  margin: 5px 0;
  color: #ffffff;
}

.profile-picture {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
  border: 2px solid #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.profile-picture:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.roll-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.roll-buttons button {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.roll-buttons button:hover {
  background-color: #0056b3;
}

.roll-btn {
  background-color: #28a745;
}

.clear-btn {
  background-color: #dc2626;
}

.add-buttons button {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.add-buttons button:hover {
  background-color: #218838;
}

.card-footer {
  padding: 0;
  background-color: transparent;
  border-top: none;
}

.subcard {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.controls-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls-container button,
.controls-container select {
  margin-right: 10px;
}

.controls-container button:last-child,
.controls-container select:last-child {
  margin-right: 0;
}

.controls-container select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="white" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 14l5-5 5 5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  padding-right: 30px;
}

.controls-container select::-ms-expand {
  display: none;
}

.controls-container select option {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  z-index: 999;
}

.chat-input-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 5px;
}

.input-area {
  grid-column: 1 / 2;
}

.controls-area {
  grid-column: 2 / 3;
}

.input-container textarea {
  width: 100%;
  resize: vertical;
}

.controls-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.controls-container button,
.controls-container select {
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}
.controls-container bu

.controls-container button:hover {
  background-color: #555;
}

.custom-select {
  position: relative;
}


.select-button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: white;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 5px;
}

.select-button:hover {
  background-color: #555;
}

.options {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #444;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-radius: 5px 5px 0 0;
}

.options.show {
  display: block;
}

.options li {
  padding: 10px;
  cursor: pointer;
}

.options li:hover {
  background-color: #555;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.button-group button {
  margin-left: 10px;
}

.send-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: url('/assets/imgs/icons/send-prpmt.png') no-repeat center center;
  background-size: contain;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
