.chat-container {
  max-width: 2200px; /* Matched width */ 
  padding: 206.5px ; /* Increased padding */
  background: rgba(255, 255, 255, 0.8) url('/assets/imgs/magical_valley.jpg') no-repeat center center;
  background-size: cover;
  border: 2px solid #d3c29d; /* Old paper style border */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  color: white; /* Ensure text is readable on potentially dark background */
}

.chat-window {
  height: 400px; /* Increased height */
  overflow-y: scroll; /* Enables scrolling inside the chat window */
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 15px; /* Increased padding */
  border-radius: 5px;
  font-family: 'Cardo', serif; /* More thematic font */
  
}

.input-container {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.input-container input {
  flex-grow: 1;
  margin-right: 5px;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
}

.chat-container h2 {
  text-align: center;
}

.chat-container form {
  display: flex;
  flex-direction: column;
}

.chat-container form div {
  margin-bottom: 1rem;
}

.chat-container form label {
  margin-bottom: 0.5rem;
}

.chat-container form input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.chat-container form button {
  padding: 0.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.chat-container form button:hover {
  background-color: #0056b3;
}

.user-message {
    text-align: right;
    color: blue;
}

.bot-response {
    text-align: left;
    color: green;
}
