<div class="edit-profile-header">
  <h2 style="text-align: center;">Edit Profile</h2>
  <button class="close-btn" (click)="closeEditProfile()" aria-label="Close" ngbTooltip="Click to close the edit profile form" triggers="mouseenter:mouseleave"></button>
</div>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="zoom-in" id="editProfileForm">
  <div>
    <label for="first_name">First Name:</label>
    <input type="text" id="first_name" formControlName="first_name" ngbTooltip="Update your new first name" tooltipTitle="First Name" triggers="mouseenter:mouseleave">
    <div *ngIf="profileForm.get('first_name')!.invalid && profileForm.get('first_name')!.touched">
      <small *ngIf="profileForm.get('first_name')!.errors?.['required']">First Name is required</small>
    </div>
  </div>
  <div>
    <label for="last_name">Last Name:</label>
    <input type="text" id="last_name" formControlName="last_name" ngbTooltip="Update your new last name" tooltipTitle="Last Name" triggers="mouseenter:mouseleave">
    <div *ngIf="profileForm.get('last_name')!.invalid && profileForm.get('last_name')!.touched">
      <small *ngIf="profileForm.get('last_name')!.errors?.['required']">Last Name is required</small>
    </div>
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email" ngbTooltip="Update your new email address" tooltipTitle="Email" triggers="mouseenter:mouseleave">
    <div *ngIf="profileForm.get('email')!.invalid && profileForm.get('email')!.touched">
      <small *ngIf="profileForm.get('email')!.errors?.['required']">Email is required</small>
      <small *ngIf="profileForm.get('email')!.errors?.['email']">Invalid email format</small>
    </div>
  </div>
  <div>
    <label for="address">Address:</label>
    <input type="text" id="address" formControlName="address" ngbTooltip="Update your new address" tooltipTitle="Address" triggers="mouseenter:mouseleave">
  </div>
  <div>
    <label for="birthdate">Birthdate:</label>
    <input type="date" id="birthdate" formControlName="birthdate" ngbTooltip="Update your birthdate" tooltipTitle="Birthdate" triggers="mouseenter:mouseleave">
  </div>
  <div>
    <label for="profile_picture">Profile Picture:</label>
    <input type="file" id="profile_picture" (change)="onFileSelected($event)" ngbTooltip="Upload your New profile picture" tooltipTitle="Profile Picture" triggers="mouseenter:mouseleave">
  </div>
  <button type="submit" [disabled]="profileForm.invalid" ngbTooltip="Click to save your changes" triggers="mouseenter:mouseleave">Save</button>
</form>

<ng-template #successTemplate>
  <div>Profile updated successfully</div>
</ng-template>
<ng-template #errorTemplate>
  <div>Failed to update profile</div>
</ng-template>
