body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    background: rgba(255, 255, 255, 0.8) url('/assets/imgs/magical_night.jpg') no-repeat center center fixed;
    background-size: cover;
    /* Ensures the image covers the entire background */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 315px;
    /* Increased padding */
}

.forget-pwd-container {
    max-width: 500px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.forget-pwd-content {
    text-align: center;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}