<div *ngIf="isLoading" class="spinner-container">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div *ngIf="searchResult && searchResult.length > 0">
  <ul>
    <li *ngFor="let item of searchResult">
      <h5>{{ item.key }}</h5>
      <ul>
        <ng-container *ngFor="let entry of item.value">
          <li>
            <strong>{{ entry.name }}</strong>
            <ul>
              <ng-container *ngFor="let subEntry of (entry | keyvalue)">
                <li *ngIf="subEntry.key !== 'name'">
                  <strong>{{ subEntry.key }}:</strong> {{ formatItem(subEntry.value) }}
                </li>
              </ng-container>
            </ul>
          </li>
        </ng-container>
      </ul>
    </li>
  </ul>
</div>
<div *ngIf="noResultsFound">
  No results found.
</div>