<div *ngIf="isLoading" class="spinner-container">
  <img src="assets/imgs/icons/Load-srch-icon.gif" alt="Loading..." class="loading-gif">
</div>
<div *ngIf="searchResult && searchResult.length > 0" class="container mt-4 horizontal-card-container">
  <div class="horizontal-card" *ngFor="let item of searchResult; let i = index" [attr.data-index]="i"
       [ngClass]="{'single-subcard': item.value.length === 1, 'multiple-subcards': item.value.length > 1}">
    <div class="horizontal-card-content">
      <h5 class="horizontal-card-title">{{ item.key }}</h5>
      <div class="subcard-grid">
        <div class="subcard" *ngFor="let entry of item.value; let j = index" [attr.data-subindex]="j">
          <strong>{{ entry.name }}</strong>
          <button (click)="toggleHoverCard(entry)" class="btn btn-primary btn-sm mt-2">Show Details</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="noResultsFound">
  No results found.
</div>

<!-- Backdrop and Centered Static Hover Card -->
<div *ngIf="showHoverCard" class="backdrop" (click)="closeHoverCard()"></div>
<div *ngIf="showHoverCard" class="static-hover-card">
  <div class="hover-card-header">
    <button (click)="closeHoverCard()" class="close-btn">&times;</button>
  </div>
  <div class="hover-card-content">
    <h5>{{ selectedEntry?.name }}</h5>
    <ul class="list-unstyled">
      <ng-container *ngFor="let subEntry of (selectedEntry | keyvalue)">
        <li *ngIf="subEntry.key !== 'name'">
          <strong>{{ subEntry.key }}:</strong> {{ formatItem(subEntry.value) }}
        </li>
      </ng-container>
    </ul>
  </div>
</div>
