input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid var(--border-color);
    border-radius: 3px;
}

input[type="text"]::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.spinner-border {
    width: 40px;
    height: 40px;
    background-image: url('/assets/imgs/icons/load-srch-icon.gif');
    background-size: cover;
    border: none;
    animation: none;
}

:host {
    --background-color: transparent;
    --card-background: white;
    --text-color: black;
    --border-color: #ddd;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

.list-group-item {
    background-color: transparent;
    color: var(--text-color);
    border: none;
    padding: 5px 0;
}

.list-group-item strong {
    color: var(--text-color);
}

.horizontal-card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.horizontal-card {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.3); 
}

.horizontal-card-content {
    padding: 15px;
}

.horizontal-card-title {
    color: white; 
    margin-bottom: 10px;
    font-weight: bold;
}

.subcard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.subcard {
    background-color: rgba(0, 0, 0, 0.3); 
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.subcard:hover {
    background-color: rgba(0, 0, 0, 0.4); 
}


.single-subcard .subcard-grid {
    display: block;
}

.single-subcard .subcard {
    width: 100%;
    height: 100%;
}


.multiple-subcards .subcard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.multiple-subcards .subcard {
    height: 100%;
}

.font-size-control {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-color);
}

.font-size-control input {
    width: 100px;
}

.search-results-container {
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 10px;
}

.card {
    background-color: var(--card-background);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    box-shadow: 0 4px 6px var(--shadow-color);
}

.card-title {
    font-weight: bold;
    margin-bottom: 15px;
}

.subcard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.subcard {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 10px;
}

.subcard h6 {
    font-weight: bold;
    margin-bottom: 10px;
}

.adjustable-text {
    font-size: 14px;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* Add a class for expanded text */
.expanded-text {
    -webkit-line-clamp: unset;
}


@media (min-width: 992px) {
    .adjustable-text {
        font-size: 16px;
    }
}

.hover-card {
  position: absolute;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  overflow-y: auto;
  max-height: 300px;
}

.hover-card ul {
  margin: 0;
  padding: 0;
}

.hover-card li {
  margin-bottom: 5px;
}

.subcard {
  position: relative;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #f8f9fa;
  color: #333;
}

.modal-header {
  border-bottom: 1px solid #dee2e6;
}

.modal-title {
  color: #333;
}

.close {
  color: #333;
}

.modal-body {
  max-height: 400px;
  overflow-y: auto;
}

.centered-hover-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.95); 
  color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  max-width: 80%;
  max-height: 80vh;
  overflow-y: auto;
}

.hover-card-content {
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.centered-hover-card h5 {
  margin-bottom: 15px;
  color: #ffffff;
}

.centered-hover-card ul {
  padding-left: 0;
}

.centered-hover-card li {
  margin-bottom: 10px;
  color: #e0e0e0;
}

.centered-hover-card strong {
  color: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}

.static-hover-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.95);
  color: white;
  border-radius: 10px;
  padding: 20px;
  max-width: 80%;
  max-height: 80vh;
  overflow-y: auto;
  z-index: 9999;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
}

.static-hover-card .hover-card-header {
  position: sticky;
  top: 0;
  background-color: rgba(0, 0, 0, 0.95);
  padding: 10px 0;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
}

.static-hover-card .close-btn {
  background: none;
  border: 4px solid white;
  border-radius: 5px;
  color: white;
  font-size: 3.5rem;
  cursor: pointer;
  padding: 5px 10px;


}
.static-hover-card .close-btn:hover {
  background-color: white;
  color: black;
  border: 4px solid black;
  
}
.static-hover-card .hover-card-content {
  padding-top: 10px;
}

.static-hover-card h5 {
  color: white;
  margin-bottom: 15px;
}

.static-hover-card ul {
  padding-left: 20px;
}

.static-hover-card li {
  margin-bottom: 5px;
  color: white;
}

.static-hover-card .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

body.modal-open {
  overflow: hidden;
}
