<div class="chrcter-creation-container container">
  <div *ngIf="isLoading" class="progress-container">
    <div class="progress-text">{{progressValue}}% please wait - loading</div>
    <ngb-progressbar type="info" [value]="progressValue" [animated]="true" [striped]="true"></ngb-progressbar>
  </div>
  <div class="text-frame fade-in-delay" [class.fade-in-active]="!isLoading">
    <div class="title-row">
      <h2>Welcome to Character Creation</h2>
    </div>
    <p>Greetings, adventurer! In this section, you can create and customize your DnD 5e character. Follow these steps to
      get started:
      <br>
      1. Library Search: Use the search bar to find information about classes, races, and spells. Enter your query and
      click the search icon. Clear your search or results using the respective buttons.
      <br>
      2. Character Creation Prompt: Use the text editor to create your character's prompt. Fill in details like name,
      race, class, subclass, level, and spells. Save your draft, paste a saved draft, or send your prompt to the chat.
      <br>
      3. Spells for Each Class: Select a class to view available spells. Choose a spell from the dropdown and click the
      copy icon to copy it to your clipboard.
      <br>
      4. Classes Description: Expand the accordions to read detailed descriptions of each class, including spell slot
      levels for spellcasters.
      <br>
      5. Race Descriptions: Expand the accordions to read detailed descriptions of each race, including alignment, age,
      size, and languages.
      <br>
      For more information, visit the provided links to RPGBot for comprehensive guides on spells, classes, and races.
    </p>
    <div class="profile-picture-container"></div>
  </div>


  <div class="text-frame-lib-search fade-in-delay" [class.fade-in-active]="!isLoading">
    <h3 class="LibrarySearch" ngbTooltip="Click to search for spells, classes, and races"
      triggers="mouseenter:mouseleave" tooltipTitle="Library Search">Library Search</h3>
    <div class="input-group">
      <input type="text" [(ngModel)]="searchQuery" placeholder="Search..." class="form-control"
        (keyup.enter)="onSearch()">
      <button (click)="onSearch()" class="search-icon" alt="Search" ngbTooltip="Click to search"
        triggers="mouseenter:mouseleave" tooltipTitle="Search"></button>
      <button (click)="clearSearchQuery()" class="clear-icon" alt="Clear" ngbTooltip="Clear search query"
        triggers="mouseenter:mouseleave" tooltipTitle="Clear"></button>
      <button (click)="pasteText()" class="paste-icon" alt="Paste" ngbTooltip="Paste from clipboard"
        triggers="mouseenter:mouseleave" tooltipTitle="Paste"></button>
      <button class="clear-results" (click)="clearSearchResults()" alt="clear-results" ngbTooltip="Clear search results"
        triggers="mouseenter:mouseleave" tooltipTitle="Clear Results"></button>
    </div>
    <div *ngIf="isSearching" class="spinner-container">
      <img src="assets/imgs/icons/Load-srch-icon.gif" alt="Loading..." class="loading-gif">
    </div>
    <div *ngIf="showSearchResults && !isSearching" class="search-results">
      <app-lib-search [searchResult]="searchResult" (searchCompleted)="handleSearchResults($event)"
        (searchCleared)="clearSearchResults()">
      </app-lib-search>
    </div>
    <button class="clear-results" (click)="clearSearchResults()" alt="clear-results" ngbTooltip="Clear search results"
      triggers="mouseenter:mouseleave" tooltipTitle="Clear Results"></button>
  </div>
  <div class="text-frame-character-display fade-in-delay" [class.fade-in-active]="!isLoading">
    <div class="title-row">
      <h3>Saved Characters ({{characterPrompts.length}}/4)</h3>
      <button class="prompt-icon" (click)="toggleCharacterDisplay()" ngbTooltip="Toggle character display"
        triggers="mouseenter:mouseleave">
        <img src="/assets/imgs/icons/Advtre-Poem.png" alt="Character Display">
      </button>
    </div>


    <div class="character-table-container" *ngIf="!isCharacterDisplayCollapsed">
      <table class="character-table">
        <thead>
          <tr>
            <th>#</th>
            <th>Character Details</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prompt of characterPrompts; let i = index">
            <td>{{ i + 1 }}</td>
            <td class="prompt-preview">{{ getPromptPreview(prompt.characterPrompt) }}</td>
            <td class="action-buttons">
              <button class="view-btn" (click)="viewPrompt(prompt)" [disabled]="!prompt._id"
                ngbTooltip="Click to view your prompt" triggers="mouseenter:mouseleave" tooltipTitle="View">
                <img src="/assets/imgs/icons/View-chr-prmpt.png" alt="View">
              </button>
              <button class="edit-btn" (click)="editPrompt(prompt)" [disabled]="!prompt._id"
                ngbTooltip="Click to edit your prompt" triggers="mouseenter:mouseleave" tooltipTitle="Edit">
                <img src="/assets/imgs/icons/Edit-chr-prmpt.png" alt="Edit">
              </button>
              <button class="delete-btn" (click)="deletePrompt(prompt)">
                <img src="/assets/imgs/icons/Del-chr-prmpt.png" alt="Delete">
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="grid fade-in-delay" [class.fade-in-active]="!isLoading">
    <div class="g-col-8 text-frame">
      <div class="title-row">
        <h3 class="CharacterCreationPrompt" ngbPopover="Click to edit your character creation prompt"
          triggers="mouseenter:mouseleave" popoverTitle="Character Creation Prompt">Character Creation Prompt</h3>
        <button class="prompt-icon" (click)="showCharacterPromptHover()" ngbTooltip="View saved character prompt"
          triggers="mouseenter:mouseleave">
          <!-- <img src="/assets/imgs/icons/Advtre-Poem.png" alt="Character Prompt"> -->
        </button>
      </div>
      <div class="text-editor-container">
        <st-editor [(ngModel)]="characterPrompt" [Config]="config"></st-editor>
      </div>
      <div class="editor-buttons">
        <button (click)="sendMessage()" ngbTooltip="Click to save your prompt to the chat"
          triggers="mouseenter:mouseleave" tooltipTitle="Send">Send</button>
        <button (click)="saveDraft()" [disabled]="!(isLoggedIn$ | async)"
          [ngbTooltip]="(isLoggedIn$ | async) ? 'Save your current progress' : 'Please log in to save drafts'"
          triggers="mouseenter:mouseleave">
          Save Draft
        </button>
        <button (click)="loadDraft()" [disabled]="!(isLoggedIn$ | async)"
          [ngbTooltip]="(isLoggedIn$ | async) ? 'Load your saved draft' : 'Please log in to load drafts'"
          triggers="mouseenter:mouseleave">
          Load Draft
        </button>

        <select #templateSelect class="template-select" (change)="loadTemplate($event)">
          <option value="">Select Template</option>
          <option value="cleric">Cleric Template</option>
          <option value="wizard">Wizard Template</option>
          <option value="rogue">Rogue Template</option>
          <option value="warlock">Warlock Template</option>
          <option value="barbarian">Barbarian Template</option>
        </select>
      </div>
    </div>

    <div class="g-col-4 text-frame">
      <h3 class="SpellsForEachClass" ngbPopover="Click to view spells for each class" triggers="mouseenter:mouseleave"
        popoverTitle="Spells for Each Class">Spells for Each Class</h3>
      <div *ngFor="let classItem of classes">
        <ng-container *ngIf="!['Barbarian', 'Fighter', 'Monk', 'Rogue'].includes(classItem.name)">
          <h4>{{ classItem?.name }}</h4>
          <div class="select-container">
            <select *ngIf="classItem.spells.length > 0" class="form-select" #spellSelect
              (change)="onSpellSelectChange($event, classItem.name)">
              <option value="">Select a spell</option>
              <option *ngFor="let spell of classItem?.spells" [value]="spell">{{ spell }}</option>
            </select>
            <img src="/assets/imgs/icons/copy.png" class="copy-icon" (click)="copySelectedSpell(selectedSpell)"
              ngbTooltip="Click to copy the selected spell" triggers="mouseenter:mouseleave" tooltipTitle="Copy">
          </div>
          <p *ngIf="classItem?.spells?.length === 0" class="no-spells">
            No spells available for {{ classItem?.name }}.
          </p>
        </ng-container>
      </div>
      <div>
        <h3>Non-Spell Classes</h3>
        <p>No spells available for these classes!</p>
        <ul>
          <li>Barbarian</li>
          <li>Fighter</li>
          <li>Monk</li>
          <li>Rogue</li>
        </ul>
      </div>
      <p>
        For more information on spells, visit
        <a href="https://rpgbot.net/dnd5/characters/spells/" target="_blank">RPGBot spells</a>.
      </p>
    </div>

    <div class="g-col-8 text-frame classes-description">
      <h3 class="ClassesDescription" ngbPopover="Click to view classes description" triggers="mouseenter:mouseleave"
        popoverTitle="Classes Description">Classes Description</h3>
      <div ngbAccordion>
        <div ngbAccordionItem *ngFor="let class of classes">
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton>{{ class.name }}</button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody class="accordion-body">
              <p>{{ class.description }}</p>
              <h5 *ngIf="isSpellCaster(class.name)"></h5>
              <div class="table-responsive" *ngIf="isSpellCaster(class.name)">
                <h5>Spell Slot Levels for {{class.name}}:</h5>
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>Level</th>
                      <th *ngFor="let slotLevel of [1,2,3,4,5,6,7,8,9]">Spell Slot Level {{slotLevel}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let level of levels">
                      <td>{{level}}</td>
                      <td *ngFor="let slotLevel of [1,2,3,4,5,6,7,8,9]">
                        <ng-container *ngIf="getSpellSlotLevels(class.name, level)[slotLevel - 1]">
                          {{ getSpellSlotLevels(class.name, level)[slotLevel - 1].slots }}
                        </ng-container>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <p1>
          For more information on classes, visit
          <a href="https://rpgbot.net/dnd5/characters/classes/" target="_blank">RPGBot classes</a>.
        </p1>
      </div>
    </div>

    <div class="g-col-4 text-frame race-description">
      <h3 class="RaceDescriptions" ngbTooltip="Click to view races description" triggers="mouseenter:mouseleave"
        tooltipTitle="Race Descriptions">Race Descriptions</h3>
      <div ngbAccordion>
        <div ngbAccordionItem *ngFor="let race of races">
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton>{{ race.name }}</button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <p><strong>Alignment:</strong> {{ race.alignment }}</p>
              <p><strong>Age:</strong> {{ race.age }}</p>
              <p><strong>Size:</strong> {{ race.size_description }}</p>
              <p><strong>Languages:</strong> {{ race.language_desc }}</p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <p1>
          For more information on races, visit
          <a href="https://rpgbot.net/dnd5/characters/races/" target="_blank">RPGBot races</a>.
        </p1>
      </div>
    </div>
  </div>

  <div *ngIf="showStaticHoverCard" class="backdrop" (click)="closeStaticHoverCard()"></div>
  <div *ngIf="showStaticHoverCard" class="static-hover-card prompt-card">
    <div class="card-header">
      <h5>{{ selectedEntry?.name }}</h5>
      <button class="copy-prompt-btn" (click)="copyCharacterPrompt()" ngbTooltip="Copy character prompt"
        triggers="mouseenter:mouseleave">
        <img src="/assets/imgs/icons/copy.png" alt="Copy prompt">
      </button>
      <button class="close-btn" (click)="closeStaticHoverCard()" aria-label="Close" ngbTooltip="Click to close"
        triggers="mouseenter:mouseleave">
        <span class="visually-hidden">Close</span>
      </button>
    </div>

    <table class="prompt-table" *ngIf="selectedEntry?.promptData">
      <thead>
        <tr>
          <th>Field</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of selectedEntry.promptData">
          <td>{{ item.field }}</td>
          <td [ngClass]="{'expandable-cell': item.field === 'Spells' || item.field === 'Equipment'}">
            <div *ngIf="item.field === 'Spells' || item.field === 'Equipment'" class="expandable-content"
              [class.expanded]="item.expanded" (click)="toggleExpansion(item)">
              {{ item.expanded ? item.value : getPreviewText(item.value) }}
            </div>
            <div *ngIf="item.field !== 'Spells' && item.field !== 'Equipment'">
              {{ item.value }}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<ng-template #successToast let-message="message">
  <div class="d-flex">
    <div class="toast-body">
      {{ message }}
    </div>
  </div>
</ng-template>

<ng-template #errorToast let-message="message">
  <div class="d-flex">
    <div class="toast-body">
      {{ message }}
    </div>
  </div>
</ng-template>

<button class="back-to-top" (click)="scrollToTop()" [ngClass]="{'show': showBackToTop}">
  Back up top?
</button>

<div *ngIf="showClassSelection" class="class-selection-dialog">
  <div class="dialog-content">
    <h3>Select Character Class</h3>
    <div class="class-buttons">
      <button *ngFor="let class of classes" (click)="onClassSelect(class.name)"
        [ngClass]="{'spellcaster': !['Barbarian', 'Fighter', 'Monk', 'Rogue'].includes(class.name)}">
        {{ class.name }}
      </button>
    </div>
    <button class="cancel-btn" (click)="showClassSelection = false">Cancel</button>
  </div>
</div>