.chrcter-creation-container {
    max-width: 2100px;
    max-height: 40000px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.8) url('/assets/imgs/magic_plains.jpg') no-repeat center center;
    background-size: cover;
    border: 2px solid #000000;
    resize: vertical;
}

.progress-container {
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}

.g-col-8 {
    grid-column: span 2;
}

/* ... existing code ... */
button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.text-frame {
    margin-bottom: 20px;
    padding: 20px;
    background: rgba(24, 24, 24, 0.678);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(248, 248, 248, 0.1);
}
.text-frame p{
    color: white;
}
.ngbAccordionBody .accordion-body {
    color: black; /* Set accordion body text color to black */
}

.text-frame li{
    color: rgb(255, 255, 255);
}
.text-frame h2,
.text-frame h3,
.text-frame h4,
.text-frame h5 {
    color: white;
}

/* Add this new class for consistency */
.text-frame .table-responsive {
    margin-top: 20px;
}

.large-textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    resize: none;
    overflow-y: auto;
}


.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-container .btn {
    display: flex;
    align-items: center;
    gap: 5px;
}

.ngb-accordion .card {
    margin-bottom: 10px;
}

.st-editor-toolbar button {
    width: 40px;
    height: 40px;
    padding: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    /* Ensure no border is applied */
    background-color: transparent;
    /* Ensure background is transparent */
}

.no-spells {
    color: rgb(248, 242, 242);
    font-style: italic;
    margin-top: 10px;
}

.horizontal-list {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.horizontal-list li {
    margin-right: 10px;
}

.progress-container {
    margin-bottom: 20px;
}

.text-frame1 {
    color: rgb(252, 252, 252);
    margin-bottom: 20px;
    padding: 20px;
    background: rgba(24, 24, 24, 0.678);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(248, 248, 248, 0.1);
}

.select-container {
    position: relative;
    display: flex;
    align-items: center;
}

.copy-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
}
.search-icon{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: url('/assets/imgs/icons/srch-icon.png') no-repeat center center;
    border: none;
    outline: none;
}
.clear-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: url('/assets/imgs/icons/clear-srch.png') no-repeat center center;
    border: none;
    outline: none;
}

.clear-results {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: url('/assets/imgs/icons/clr-rslt.png') no-repeat center center;
    border: none;
    outline: none;
}

/* Apply the same styles to Classes Description */
.classes-description {
    margin-bottom: 20px;
    padding: 20px;
    background: rgba(24, 24, 24, 0.678);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(248, 248, 248, 0.1);
}
.classes-description p{
    color: black;
}
.classes-description p1{
    color: white;
}
.classes-description li{
    color: black;
}
.classes-description h5{
    color: black;
}
.race-description{
    color: black;
}
.race-description p{
    color: black;
}
.race-description p1{
    color: white;
}


.popoverTitle {
    color: rgb(0, 0, 0);
}

.popover-title-custom {
    color: black;
}

/* Add these styles to your existing CSS file */

.accordion-button {
    cursor: pointer;
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
}

.accordion-button::after {
    content: none;
}

.accordion-button:not(.collapsed)::after {
    content: none;
}
