<div class="login-container">
  <!-- <h2>Login</h2> -->
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <div>
      <label for="username"></label>
      <input type="text" id="username" [(ngModel)]="username" name="username" required placeholder="Please enter your Username to Login ">
    </div>
    <div>
      <label for="password"></label>
      <br>
      <input type="password" id="password" [(ngModel)]="password" name="password" required placeholder="Please enter your Password to Login ">
    </div>
    <div>
      <input type="checkbox" id="rememberMe" [(ngModel)]="rememberMe" name="rememberMe">
      <label for="rememberMe">Remember Me</label>
    </div>
    <a href="javascript:void(0)" (click)="navigateToForgotPassword()" class="reset-link">Forgot Password?</a>
    <button type="submit">Login</button>
  </form>
</div>

<ng-template #welcomeTemplate let-username="username">
  <div>Welcome {{ username }}, let's play!</div>
</ng-template>
<ng-template #errorTemplate>
  <div>Login failed</div>
</ng-template>