button {
  background-color: #63239e; /* Bootstrap secondary color */
  color: white;
  border: none;
  padding: 10px 200px; /* Adjusted padding for larger size */
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Garamond', serif;
  text-align: center; /* Center the text */
  line-height: 1.1; /* Adjust line height for better appearance */
  position: absolute; /* Position the button */
  top: 70%; /* Align vertically in the middle */
  left: 50%; /* Align horizontally in the middle */
  transform: translate(-50%, -50%); /* Center the button precisely */
  font-size: 20px;
  
}

button:hover {
  background-color: #5a6268; /* Darker shade for hover */
}

.login-container {
    max-width: 2150px; /* Matched width */ 
    max-height: 900px;
    padding: 469px; /* Increased padding */
    background: rgba(255, 255, 255, 0.8) url('/assets/imgs/powerful_battle.jpg') no-repeat center center;
    background-size: cover;
    border: 2px solid #d3c29d; /* Old paper style border */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    color: rgb(219, 78, 42); /* Ensure text is readable on potentially dark background */
    text-align: center; /* Center the text */
    font-size: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%; /* Full width */
    height: 40px; /* Increased height */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    margin: 0 auto; /* Center the input horizontally */
    font-size: 25px;
    font-family: 'Garamond', serif;
    text-align: center; /* Center the text */
    line-height: 1.1; /* Adjust line height for better appearance */
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #555; /* Change placeholder text color */
}
