button {
  background-color: #63239e; /* Bootstrap secondary color */
  color: white;
  border: none;
  padding: 10px 200px; /* Adjusted padding for larger size */
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Garamond', serif;
}

button:hover {
  background-color: #5a6268; /* Darker shade for hover */
}

.card {
  max-width: 400px;
  max-height: 1000px;
  width: 100%;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.card-body {
  padding: 30px;
  padding: 5rem;
}

.form-outline {
  position: relative;
}

.form-outline i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

input[type="text"],
input[type="password"] {
    width: 100%; /* Full width */
    height: 40px; /* Increased height */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    margin: 0 auto; /* Center the input horizontally */
    font-size: 25px;
    font-family: 'Garamond', serif;
    text-align: center; /* Center the text */
    line-height: 1.1; /* Adjust line height for better appearance */
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #555; /* Change placeholder text color */
}

.submit-link:hover {
  color: #5a6268; /* Darker shade for hover */
  
}

.background-custom {
  background-image: url('/assets/imgs/powerful_battle.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100px;
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5) !important;
}

.btn-outline-light {
  border-color: #fff;
  color: #fff;
}

.btn-outline-light:hover {
  background-color: #fff;
  color: #000;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-up {
    animation: fadeInUp 1s ease-out;
}