.about-container {
    position: relative;
    max-width: 2200px;
    min-height: 200px;
    padding: 200px;
    border-width: 400px; /* Set left and right border to maximum webpage limit */
    border-color: #ac7549; /* Keep the border color */
    border-style: solid; /* Ensure solid border style */
    border-top-width: 0; /* Set top border to 0 */
    border-bottom-width: 0; /* Set bottom border to 0 */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    color: rgb(245, 244, 248);
    overflow: hidden;
}

.about-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('/assets/imgs/desert-castle.jpg') no-repeat center center;
    background-size: cover;
    filter: brightness(0.7);
    z-index: -1;
}

.text-container {
    z-index: 1; /* Ensure text is above the background image */
    font-size: 18px;
}