<div class="about-container">
    <div class="text-container">
        <h1>{{ title }}</h1>
        <p>Unleash the power of the AI Dungeon Master (DM) crafted by {{ developer }} to revolutionize your tabletop experience with Dungeons & Dragons 5th Edition (DnD 5e).</p>
        <p>Immerse yourself in a world where creativity meets technology. Our AI DM dynamically responds to your every move, creating thrilling adventures and immersive scenarios through an intuitive chat prompt interface.</p>
        <p>Embark on a journey like never before, where your choices shape the narrative and your destiny is in your hands.</p>
        <p>Experience the magic of storytelling and the thrill of adventure in a whole new light.</p>
        <p>Join us in reshaping the future of tabletop gaming and redefine the way you play DnD!</p>
        <p>Discover a world of endless possibilities and epic tales waiting to be told!</p>
        <p>Are you ready to embark on a legendary quest and become a hero of DeMe?</p>
        <p>Step into a realm where imagination knows no bounds and the adventure never ends!</p>
        <p>Let the dice roll and the adventure unfold in the world of DeMe!</p>
        <p>Embrace the magic, embrace the challenge, and let your legend begin!</p>
    </div>

    <div class="image-gallery-menu">
        <img src="/assets/imgs/icons/GoToLogin.png" alt="Login" (click)="goToLogin()" ngbPopover="Go to Login" triggers="mouseenter:mouseleave" popoverTitle="Login" popoverClass="custom-popover">
        <img src="/assets/imgs/icons/GoToLib.png" alt="Library" (click)="goToLibrary()" ngbPopover="Go to Library" triggers="mouseenter:mouseleave" popoverTitle="Library" popoverClass="custom-popover">
        <img src="/assets/imgs/icons/GoToReg.png" alt="Register" (click)="goToRegister()" ngbPopover="Go to Register" triggers="mouseenter:mouseleave" popoverTitle="Register" popoverClass="custom-popover">
        <img src="/assets/imgs/icons/GoToHome.png" alt="HomePage" (click)="goToHomePage()" ngbPopover="Go to Home-Page" triggers="mouseenter:mouseleave" popoverTitle="Home-Page" popoverClass="custom-popover">
    </div>
</div>
