<div class="about-container">
    <div class="fade-in-up">
    <div class="text-container">
        <h1>{{ title }}</h1>
        <p>Unleash the power of the AI Dungeon Master (DM) crafted by {{ developer }} to revolutionize your tabletop experience with Dungeons & Dragons 5th Edition (DnD 5e). Immerse yourself in a world where creativity meets technology. Our AI DM dynamically responds to your every move, creating thrilling adventures and immersive scenarios through an intuitive chat prompt interface.</p>
        <p>Embark on a journey like never before, where your choices shape the narrative and your destiny is in your hands. Experience the magic of storytelling and the thrill of adventure in a whole new light.</p>
        <p>Join us in reshaping the future of tabletop gaming and redefine the way you play DnD! Discover a world of endless possibilities and epic tales waiting to be told!</p>
        <p>Are you ready to embark on a legendary quest and become a hero of DeMe? Step into a realm where imagination knows no bounds and the adventure never ends!</p>
        <p>Let the dice roll and the adventure unfold in the world of DeMe! Embrace the magic, embrace the challenge, and let your legend begin!</p>
        <p>With our AI DM, every session is a new opportunity to explore uncharted territories and encounter unique characters. Whether you're a seasoned adventurer or a newcomer to the world of DnD, our platform offers something for everyone.</p>
        <p>Connect with fellow players, share your stories, and build a community of like-minded enthusiasts. Our AI DM is constantly learning and evolving, ensuring that no two adventures are ever the same.</p>
        <p>Prepare to be amazed by the depth and richness of the narratives that await you. Join us today and be part of a groundbreaking movement in the world of tabletop gaming!</p>
    </div>

    <div class="image-gallery-menu">
        <img src="/assets/imgs/icons/GoToLogin.png" alt="Login" (click)="goToLogin()" ngbTooltip="Go to Login" triggers="mouseenter:mouseleave" tooltipTitle="Login" tooltipClass="custom-tooltip">
        <img src="/assets/imgs/icons/GoToLib.png" alt="Library" (click)="goToLibrary()" ngbTooltip="Go to Library" triggers="mouseenter:mouseleave" tooltipTitle="Library" tooltipClass="custom-tooltip">
        <img src="/assets/imgs/icons/GoToReg.png" alt="Register" (click)="goToRegister()" ngbTooltip="Go to Register" triggers="mouseenter:mouseleave" tooltipTitle="Register" tooltipClass="custom-tooltip">
        <img src="/assets/imgs/icons/GoToHome.png" alt="HomePage" (click)="goToHomePage()" ngbTooltip="Go to Home-Page" triggers="mouseenter:mouseleave" tooltipTitle="Home-Page" tooltipClass="custom-tooltip">
    </div>
</div>
</div>
