.about-container {
    position: relative;
    max-width: 100%;
    padding: 100px 50px;
    margin: 0 auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    color: #f5f4f8;
    text-align: center;
    overflow: hidden;
    animation: fadeIn 1.5s ease-in-out;
    /* Add this line */
}

.about-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('/assets/imgs/desert-castle.jpg') no-repeat center center;
    background-size: cover;
    filter: brightness(0.5) blur(3px);
    z-index: -1;
}

.text-container {
    z-index: 1;
    font-size: 17px;
    max-width: 1000px;
    margin: 0 auto;
    line-height: 1.6;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #ffcc00;
}

p {
    margin-bottom: 15px;
}

.image-gallery-menu {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.image-gallery-menu img {
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-gallery-menu img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

.custom-popover .popover-body {
    background-color: #ffcc00;
    color: #000;
}

.custom-popover .popover-header {
    background-color: #ffcc00;
    color: #000;
    font-weight: bold;
}

.custom-popover .arrow::after {
    border-top-color: #ffcc00;
}

.custom-popover {
    border: 1px solid #000;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-up {
    animation: fadeInUp 1s ease-out;
}
