<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <div class="input-group">
      <input type="text" [(ngModel)]="searchQuery" placeholder="Search..." class="form-control">
      <button (click)="onSearch()" class="btn btn-primary">Search</button>
    </div>

    <a class="nav-item nav-link" *ngFor="let collection of collectionKeys"
      [class.active]="collection === selectedCollection && !showSearchResults" (click)="selectCollection(collection)">
      {{collection}}
    </a>
  </div>
</nav>
<div *ngIf="showSearchResults">
  <app-lib-search [searchResult]="searchResult" (searchCompleted)="handleSearchResults($event)" (searchCleared)="clearSearchResults()"></app-lib-search>
</div>
<div *ngIf="!showSearchResults">
  <div class="tab-content scrollspy-example" id="nav-tabContent" data-bs-spy="scroll" data-bs-target="#nav-tab"
    data-bs-offset="0" tabindex="0">
    <div class="tab-pane fade show active" role="tabpanel">
      <h4>{{selectedCollection}}</h4>
      <div *ngIf="isCardCollection(selectedCollection)">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col" *ngFor="let item of getPaginatedItems(); let i = index">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">{{ item.name }}</h5>
              </div>
              <div class="card-body">
                <!-- Grid layout for collapse buttons, skipping the first key -->
                <div class="row row-cols-3">
                  <ng-container *ngFor="let key of getKeys(item); let k = index">
                    <div class="col"
                      *ngIf="k !== 0 && key !== 'url' && key !== 'name' && key !== 'index' && key !== '_id' && key !== 'rowNumber'">
                      <button (click)="toggleTextVisibility(getTextVisibilityIndex(i, key))"
                        class="btn btn-outline-secondary btn-sm"
                        [attr.aria-expanded]="textVisibility[getTextVisibilityIndex(i, key)]"
                        [attr.aria-controls]="'collapse' + getTextVisibilityIndex(i, key)">
                        {{ key }}
                      </button>
                      <div id="collapse{{getTextVisibilityIndex(i, key)}}"
                        [ngbCollapse]="!textVisibility[getTextVisibilityIndex(i, key)]">
                        <span>{{ $any(item[key]) }}</span>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!isCardCollection(selectedCollection)">
        <table class="table table-striped table-hover table-responsive">
          <thead class="table-dark">
            <tr>
              <th>#</th>
              <th>Name</th>
              <ng-container *ngFor="let key of getKeys(collections[selectedCollection]?.[0] ?? {})">
                <th *ngIf="key !== 'url' && key !== 'name' && key !== 'rowNumber'">{{ key }}</th>
              </ng-container>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of getPaginatedItems(); let i = index"
              [ngClass]="{'long-text-row': isLongText(item.name)}">
              <td>{{ item.rowNumber }}</td>
              <td>{{ item.name }}</td>
              <ng-container *ngFor="let key of getKeys(item); let k = index">
                <td *ngIf="key !== 'url' && key !== 'name' && key !== 'rowNumber'">
                  <div *ngIf="isString($any(item[key])) && isLongText($any(item[key]))">
                    <button (click)="toggleTextVisibility(getTextVisibilityIndex(i, key))"
                      class="btn btn-outline-secondary btn-sm">
                      <img
                        [src]="textVisibility[getTextVisibilityIndex(i, key)] ? 'assets/imgs/icons/collapnd-btn.png' : 'assets/imgs/icons/collapnd-btn.png'"
                        alt="Toggle">
                    </button>
                    <div [ngbCollapse]="!textVisibility[getTextVisibilityIndex(i, key)]">
                      <span>{{ $any(item[key]) }}</span>
                    </div>
                  </div>
                  <div *ngIf="!isString($any(item[key])) || !isLongText($any(item[key]))">
                    <span>{{ formatArray($any(item[key])) }}</span>
                  </div>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="!collections[selectedCollection] || collections[selectedCollection].length === 0">
        No data available.
      </div>
      <ngb-pagination *ngIf="collections[selectedCollection]" [(page)]="page" [pageSize]="pageSize"
        [collectionSize]="collections[selectedCollection].length || 0" [maxSize]="maxPages" [rotate]="true"
        [ellipses]="true" class="pagination"></ngb-pagination>
    </div>
  </div>
</div>