<link href="https://fonts.googleapis.com/css2?family=Almendra:wght@400;700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link" *ngFor="let collection of collectionKeys"
      [class.active]="collection === selectedCollection && !showSearchResults" (click)="selectCollection(collection)">
      {{collection}}
    </a>
    <button class="collapse-button-search" 
            (click)="toggleCollapse()" 
            alt="Collapse" 
            [ngClass]="{'collapsed': isCollapsed}" 
            ngbTooltip="Search for items in the library" 
            triggers="mouseenter:mouseleave" 
            tooltipTitle="Search">
    </button>
  </div>
</nav>
<div class="search-container" [ngClass]="{'collapsed': isCollapsed}">
  <div class="input-group" [ngClass]="{'collapsed': isCollapsed}" [ngbCollapse]="!isCollapsed">
    <input type="text" [(ngModel)]="searchQuery" placeholder="Search..." class="form-control" (keyup.enter)="onSearch()">
    <button (click)="onSearch()" class="search-icon" alt="Search" ngbTooltip="Click to search" triggers="mouseenter:mouseleave" tooltipTitle="Search"></button>
    <button class="clear-icon" (click)="clearSearchQuery()" alt="clear-input" ngbTooltip="Clear search query" triggers="mouseenter:mouseleave" tooltipTitle="Clear"></button>
    <button class="clear-results" (click)="clearSearchResults()" alt="clear-results" ngbTooltip="Return to Library" triggers="mouseenter:mouseleave" tooltipTitle="Return"></button>
  </div>
</div>
<div *ngIf="isLoading" class="spinner-container">
  <img src="assets/imgs/icons/Load-srch-icon.gif" alt="Loading..." class="loading-gif">
</div>
<div *ngIf="showSearchResults && !isLoading" class="search-results">
  <app-lib-search [searchResult]="searchResult" (searchCompleted)="handleSearchResults($event)"
    (searchCleared)="clearSearchResults()"></app-lib-search>
</div>
<div *ngIf="!showSearchResults && !isLoading">
  <div class="tab-content scrollspy-example" id="nav-tabContent" data-bs-spy="scroll" data-bs-target="#nav-tab"
    data-bs-offset="0" tabindex="0" (scroll)="onScroll($event)">
    <div class="tab-pane fade show active" role="tabpanel">
      <div *ngIf="isCardCollection(selectedCollection)" class="card-collection">
        <div class="articles row justify-content-center">
          <ngb-pagination *ngIf="collections[selectedCollection]" [(page)]="page" [pageSize]="pageSize"
            [collectionSize]="collections[selectedCollection].length || 0" [maxSize]="maxPages" [rotate]="true"
            [ellipses]="true" class="pagination"></ngb-pagination>
          <div class="collapse-all-container">
            <button class="collapse-all-btn" (click)="collapseAllCardValues()">
              Collapse All Cards
            </button>
          </div>
          <div class="col-16 col-md-9 col-lg-4" *ngFor="let item of getPaginatedItems(); let i = index">
            <div class="flip-card">
              <div class="flip-card-inner" [ngClass]="{'static': staticCards[i]}">
                <div class="flip-card-front">
                  <h2 class="card-title" (click)="toggleCardStatic(i, $event)">{{item.name}}</h2>
                  <figure>
                    <img [src]="'/assets/Lib-Imgs-Cards/' + item.name + '.jpg'" alt="{{item.name}}"
                      class="card-img-top">
                  </figure>
                  <div class="card-body">
                  </div>
                </div>
                <div class="flip-card-back">
                  <h2 class="card-title" (click)="toggleCardStatic(i, $event)" 
                      ngbTooltip="click on title to freeze card , click again to unfreeze card" 
                      triggers="mouseenter:mouseleave" 
                      tooltipTitle="Freeze Card">{{item.name}}</h2>
                  
                  <button class="btn btn-sm btn-secondary mb-2" (click)="toggleAllCardValues(i)">
                    {{ cardExpandedStates[i] ? 'Collapse Card' : 'Expand Card' }}
                  </button>
                  
                  <div class="table-container">
                    <table class="card-table table-striped table-hover table-responsive" *ngIf="item.name !== 'url' && item.name !== 'name'">
                      <thead class="table-dark">
                        <tr>
                          <th>Key</th>
                          <th>Value</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let key of getKeys(item)">
                          <td *ngIf="key !== 'rowNumber'">{{ key }}</td>
                          <td *ngIf="key !== 'rowNumber'">
                            <span *ngIf="isLongText(item[key]) || isArray(item[key])">
                              <span (click)="toggleTextVisibility(i, key)" style="cursor: pointer;">
                                {{ isTextVisible(i, key) ? formatArray($any(item[key])) : (item[key] | slice:0:30) + '...' }}
                              </span>
                            </span>
                            <span *ngIf="!isLongText(item[key]) && !isArray(item[key])">
                              {{ formatArray($any(item[key])) }}
                            </span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!isCardCollection(selectedCollection)" class="table-collection">
        <ngb-pagination *ngIf="collections[selectedCollection]" [(page)]="page" [pageSize]="pageSize"
          [collectionSize]="collections[selectedCollection].length || 0" [maxSize]="maxPages" [rotate]="true"
          [ellipses]="true" class="pagination"></ngb-pagination>
        <button class="btn btn-sm btn-secondary mb-2" (click)="collapseAllTableValues()">Collapse All Table Rows</button>
        <table class="table table-striped table-hover table-responsive">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <ng-container *ngFor="let key of getKeys(collections[selectedCollection]?.[0] ?? {})">
                <th *ngIf="key !== 'url' && key !== 'name' && key !== 'rowNumber'">{{ key }}</th>
              </ng-container>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of getPaginatedItems(); let i = index" [ngClass]="{'long-text-row': isLongText(item.name)}">
              <td>{{ item.rowNumber }}</td>
              <td>{{ item.name }}</td>
              <ng-container *ngFor="let key of getKeys(item); let k = index">
                <td *ngIf="key !== 'url' && key !== 'name' && key !== 'rowNumber'">
                  <span *ngIf="isLongText(item[key]) || isArray(item[key])">
                    <span (click)="toggleTextVisibility(i, key)" style="cursor: pointer;">
                      {{ isTextVisible(i, key) ? formatArray($any(item[key])) : (item[key] | slice:0:30) + '...' }}
                    </span>
                  </span>
                  <span *ngIf="!isLongText(item[key]) && !isArray(item[key])">
                    {{ formatArray($any(item[key])) }}
                  </span>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="!collections[selectedCollection] || collections[selectedCollection].length === 0">
        No data available.
      </div>
    </div>
  </div>
</div>

<div class="hover-card-move" [ngClass]="{'show': showHoverCard}">
  <div class="group-buttons">

    <button *ngIf="scrollDeltaY > 0 && scrollDeltaX === 0" (click)="scrollToTop()">
      Back to Top
    </button>
    
    <button *ngIf="scrollDeltaX > 0 && scrollDeltaY === 0" (click)="scrollToLeft()">
      Back to Left Side
    </button>
    
    <ng-container *ngIf="scrollDeltaX > 0 && scrollDeltaY > 0">
      <button (click)="scrollToTop()">Back to Top</button>
      <button (click)="scrollToLeft()">Back to Left Side</button>
    </ng-container>
  </div>
</div>
