/* Global styles */
body {
  font-family: 'Garamond', serif;
  background-color: #f4eee8;
  color: #333;
}

h1, h2, h3, h4 {
  font-family: 'Cardo', serif;
}

a {
  color: #4b2e83;
  text-decoration: none;
}

a:hover {
  color: #795548;
}

.button {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Garamond', serif;
}

button:hover {
    background-color: #0056b3; /* Darker blue for hover */
  }
  
  .logout-button {
    background-color: #dc3545; /* Bootstrap 'danger' color */
  }
  
  .logout-button:hover {
    background-color: #c82333; /* Darker red for hover */
  }
.input {
    width: 100%; /* Full width */
    padding: 12px 20px; /* Increased padding */
    border: 1px solid #ccc; /* Standard border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Border and padding included in width */
  }
  
.popover {
    color: #000 !important;
}

.popover-header {
    color: #000 !important;
    background-color: #f8ab52 !important;
    border-bottom: 1px solid #000 !important;
}

.popover-body {
    color: #000 !important;
    background-color: #e6d4af31 !important;
}

.bs-popover-top .arrow::after, 
.bs-popover-auto[x-placement^="top"] .arrow::after {
    border-top-color: #ffcc00 !important;
}

.bg-light-purple {
  background-color: #b06bdd !important;
}

.bg-green-blue {
  background-color: #5F9EA0 !important;
}

.bg-purple {
  background-color: #8a2be2 !important;
}

.bg-success-info {
  background: linear-gradient(to right, #28a745, #17a2b8) !important;
}

/* Existing toast styles */
.toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1200;
}

.toast {
  min-width: 200px;
}

.bg-light-blue {
  background-color: #8bc7ff; /* Light blue background */
  border: 1px solid #3533c5; /* Dark blue border */
}

.text-white {
  color: #ffffff;
}

.text-dark-blue {
  color: #3533c5; /* Dark blue text */
}

/* Enhanced Global scrollbar styles */
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  background-color: #8f8e8e;
}

::-webkit-scrollbar-track {
  background: #8f8e8e;
  border-radius: 8px;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
  margin: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #333740;
  border-radius: 8px;
  border: 3px solid #a8a8a8;
  min-height: 40px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

/* Scrollbar Button Styles */
::-webkit-scrollbar-button:single-button {
  background-color: #949494;
  display: block;
  border: 2px solid #bebebe;
  background-size: 10px;
  background-repeat: no-repeat;
}

/* Up Arrow */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  height: 16px;
  width: 16px;
  background-position: center 4px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(51, 55, 64)'><polygon points='50,00 0,50 100,50'/></svg>");
  border-radius: 4px;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  background-color: #e6e6e6;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(51, 55, 64)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active {
  background-color: #c0c0c0;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(51, 55, 64)'><polygon points='50,00 0,50 100,50'/></svg>");
}

/* Down Arrow */
::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 16px;
  width: 16px;
  background-position: center 2px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(51, 55, 64)'><polygon points='0,0 100,0 50,50'/></svg>");
  border-radius: 4px;
}

::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  background-color: #d0d0d0;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(51, 55, 64)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:active {
  background-color: #c0c0c0;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(51, 55, 64)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-corner {
  background-color: #f0f0f0;
}
