/* Global styles */
body {
  font-family: 'Garamond', serif;
  background-color: #f4eee8;
  color: #333;
}

h1, h2, h3, h4 {
  font-family: 'Cardo', serif;
}

a {
  color: #4b2e83;
  text-decoration: none;
}

a:hover {
  color: #795548;
}

.button {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Garamond', serif;
}

button:hover {
    background-color: #0056b3; /* Darker blue for hover */
  }
  
  .logout-button {
    background-color: #dc3545; /* Bootstrap 'danger' color */
  }
  
  .logout-button:hover {
    background-color: #c82333; /* Darker red for hover */
  }
.input {
    width: 100%; /* Full width */
    padding: 12px 20px; /* Increased padding */
    border: 1px solid #ccc; /* Standard border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Border and padding included in width */
  }
  
.popover {
    color: #000 !important;
}

.popover-header {
    color: #000 !important;
    background-color: #f8ab52 !important;
    border-bottom: 1px solid #000 !important;
}

.popover-body {
    color: #000 !important;
    background-color: #e6d4af31 !important;
}

.bs-popover-top .arrow::after, 
.bs-popover-auto[x-placement^="top"] .arrow::after {
    border-top-color: #ffcc00 !important;
}

.bg-light-purple {
  background-color: #b06bdd !important;
}

.bg-green-blue {
  background-color: #5F9EA0 !important;
}

.bg-purple {
  background-color: #8a2be2 !important;
}

.bg-success-info {
  background: linear-gradient(to right, #28a745, #17a2b8) !important;
}

/* Existing toast styles */
.toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1200;
}

.toast {
  min-width: 200px;
}

.bg-light-blue {
  background-color: #8bc7ff; /* Light blue background */
  border: 1px solid #3533c5; /* Dark blue border */
}

.text-white {
  color: #ffffff;
}

.text-dark-blue {
  color: #3533c5; /* Dark blue text */
}
