<div class="register-container">
  <h2>Register</h2>
  <form (ngSubmit)="register()">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" [(ngModel)]="username" name="username" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" required>
    </div>
    <div>
      <label for="address">Address:</label>
      <input type="text" id="address" [(ngModel)]="address" name="address">
    </div>
    <div>
      <label for="birthdate">Birthdate:</label>
      <input type="date" id="birthdate" [(ngModel)]="birthdate" name="birthdate" required>
    </div>
    <button type="submit">Register</button>
  </form>
</div>
