.register-container {
  max-width: 100%; /* Full width */
  min-height: 93vh; /* Full viewport height */
  padding: 20px; /* Reduced padding */
  background: rgba(255, 255, 255, 0.8) url('/assets/imgs/frost-battle.png') no-repeat center center;
  background-size: cover; /* Ensure background covers the entire container */
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  border: none; /* Optional: remove border */
  box-shadow: none; /* Optional: remove shadow */
  color: rgb(14, 13, 13);
}

.img-thumbnail {
  max-width: 150px;
  max-height: 150px;
}