.register-container {
  max-width: 100%; /* Full width */
  min-height: 80vh; /* Reduced height */
  padding: 20px; /* Reduced padding */
  background: rgba(255, 255, 255, 0.8) url('/assets/imgs/frost-battle.png') no-repeat center center;
  background-size: cover; /* Ensure background covers the entire container */
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  border: none; /* Optional: remove border */
  box-shadow: none; /* Optional: remove shadow */
  color: rgb(14, 13, 13);
}

.img-thumbnail {
  max-width: 100px;
  max-height: 100px;
}

.custom-img {
  width: 50%; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  max-height: 300px; /* Adjust max height as needed */
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}

.custom-card {
  max-width: 80%; /* Adjust card width as needed */
  margin: auto; /* Center the card */
}