<div class="toast-container">
  <ng-container *ngFor="let toast of toastService.getToasts()">
    <ngb-toast
      [class]="toast.classname"
      [autohide]="true"
      [delay]="toast.delay || 5000"
      (hidden)="toastService.remove(toast)">
      <div class="d-flex align-items-center">
        <i [class]="getToastIcon(toast.classname)"></i>
        <div class="toast-content">
          <ng-container *ngIf="toast.template">
            <ng-template [ngTemplateOutlet]="toast.template" 
                        [ngTemplateOutletContext]="{ username: toast.context?.username, message: toast.context?.message }">
            </ng-template>
          </ng-container>
          <ng-container *ngIf="!toast.template && toast.context?.message">
            {{ toast.context.message }}
          </ng-container>
        </div>
      </div>
    </ngb-toast>
  </ng-container>
</div>